{% extends 'base.html.twig' %}

{% block title 'Generation de nouveau mot de passe'%}

{% block body %}
	<div class="card">
		<div class="card-body">
			{% for label, messages in app.flashes %}
				<div class="alert alert-{{ label }}">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endfor %}
			{{form(form)}}
			</div>
		</div>
	{% endblock %}
